<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ResQ Carts</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="{{url_for('static', filename = 'css/app.css')}}" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    <div class = "headercontainer">
      <button class = "close" id = "close_window">Exit</button>
      <div class = "timer">
        <p id="runningTimer"></p>
      </div>
      <button class = "button" id="printPDF" type="submit" onclick="window.open('/generate_pdf')" style = "float:right;">Upload to EMR</button>
    </div>
    <div class="rowcontainer">
      <div class="column">
        <button class = "undo" id = "undo_person1">Undo</button>
        <h2>Compressions</h2>
        <div class="progress-container">
          <div class="progress-bar" id = "progress-bar1" style="width: 50%;"></div>
        </div>
        <div class="text-box" id="text-line-1">
          <p id="task1">{{ tasks[1]['person1']['task'] }}</p>
          <p id="status1">Status: {{ tasks[1]['person1']['status'] }}</p>
          <p id="stopwatchTimer1"></p>
        </div>
        <button class = "update" id = "update_person1">Complete</button>
      </div>
      <div class="column">
        <button class = "undo" id = "undo_person2">Undo</button>
        <h2>Airways</h2>
        <div class="progress-container">
          <div class="progress-bar" id = "progress-bar2" style="width: 50%;"></div>
        </div>
        <div class="text-box" id="text-line-1">
          <p id="task2">{{ tasks[1]['person2']['task'] }}</p>
          <p id="status2">Status: {{ tasks[1]['person2']['status'] }}</p>
          <p id="stopwatchTimer2"></p>
        </div>
        <button class = "update" id = "update_person2">Complete</button>
      </div>
      <div class="column">
        <button class = "undo" id = "undo_person3">Undo</button>
        <h2>Medications</h2>
        <div class="progress-container">
          <div class="progress-bar" id = "progress-bar3" style="width: 75%;"></div>
        </div>
        <div class="text-box" id="text-line-1">
          <p id="task3">{{ tasks[1]['person3']['task'] }}</p>
          <p id="status3">Status: {{ tasks[1]['person3']['status'] }}</p>
          <p id="stopwatchTimer3"></p>
        </div>
        <button class = "update" id = "update_person3">Complete</button>
      </div>
    </div>
  </body>
</html>
