<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Code Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>

    <div class="close-inventory"></div>
    <a href="/">
        <button class="inventory-button">Back</button>
    </a>
    </div>

    <div class="page-title">Code Interactions Log</div>
    <hr>

    <!-- List of interactions -->
    <div>
        {% if interactions %}
        <ul>
            {% for interaction in interactions %}
            <li>
                <strong>{{ interaction[1] }}</strong> — {{ interaction[0] }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No interactions recorded.</p>
        {% endif %}
    </div>

    <footer class="page-footer">
        <a href="/download_interactions_csv">
            <button class="inventory-button">Download as CSV</button>
        </a>
    </footer>

</body>


</html>