<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inventory</title>
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
</head>

<div class="close-inventory">
    <a href="/">
        <button class="inventory-button">Close Inventory</button>
    </a>
</div>


<body>

    <div style="padding: 50px; overflow-x: auto;">

        <table border="1" cellspacing="0" cellpadding="8" width="100%">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>SKU #</th>
                    <th>Unit Price</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                <tr class="row-top">
                    <td class="location-top" rowspan="2">Top</td>
                    <td>IV supplies</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-top">
                    <td>Airway supplies</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="row-drawer-1">
                    <td class="location-drawer-1">Drawer 1</td>
                    <td>Epinephrine</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="row-drawer-2">
                    <td class="location-drawer-2">Drawer 2</td>
                    <td>Amiodarone</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="row-drawer-3">
                    <td class="location-drawer-3">Drawer 3</td>
                    <td>Biocarbonate</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="row-drawer-4">
                    <td class="location-drawer-4">Drawer 4</td>
                    <td>Storage</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>